<div class="footer">
  <div class="footer-icon">
    <div class="background-overlay"></div>
    <div class="icon" id="character">
      <img src="../../../assets/svg/character_icon_1.svg" />
    </div>
    <div class="icon" id="backpack">
      <img src="../../../assets/svg/backpack_icon_1.svg" />
    </div>
    <div class="icon" id="map">
      <img src="../../../assets/svg/map_icon_1.svg" />
    </div>
    <div class="icon" id="bag">
      <img src="../../../assets/svg/bag_icon_1.svg" />
    </div>
    <div class="icon" id="settings">
      <img src="../../../assets/svg/settings_icon_1.svg" />
    </div>
  </div>
</div>
