// Cores primárias
$primary-azur: #0a7aff;
$primary-ocean: #0a7aff;
$primary-purple: #7001FD;
$primary-input-grey: #d9d9d9;
$primary-snow: #ffffff;
$primary-dark-blue: #272556;
$primary-black: #000000;

// Cores secundárias
$secondary-ocean: #0a7aff;
$secondary-green: #347b26;
$secondary-error-pink: #ff4d4f;
$secondary-warning-orange: #fa8c16;
$secondary-purple1: #562980;
$secondary-purple2: #9b4b9d;
$secondary-inactive-grey: #d9d9d9;
$secondary-light-blue: #0a7aff12;
$secondary-lilac: #b79ecb;

// Cores de fundo
$background-grey: #e7e7e7;
$background-grey1: #eeeeee;
$background-grey2: #d9d9d9;

// Cores dos ícones
$icons-snow: #ffffff;
$icons-grey: #808080;
$icons-grey1: #cbc5d6;
$icons-grey3: #9d91ae;
$icons-grey4: #4f4f4f;
$icons-grey5: #656565;
$icons-purple: #572380;
$icons-purple1: #562980;
$icons-purple2: #9b4b9d;
$icons-purple3: #572380;
$icons-light-blue: #0a7aff;
$icons-black: #000000;

// Tipografia
$font-family-playfair: "Playfair Variable";
$font-family-montserrat: "Montserrat Variable";
$font-family-sfpro: "SF Pro Text, sans-serif";

$font-color-snow: #ffffff;
$font-color-grey: #666666;
$font-color-grey1: #808080;
$font-color-grey2: #4f4f4f;
$font-color-grey3: #656565;
$font-color-grey4: #696969;
$font-color-grey5: #e7e7e7;
$font-color-grey6: #a4a4a4;
$font-color-grey7: #cbc5d6;
$font-color-grey8: #b1b1b1;
$font-color-purple: #572380;
$font-color-light-blue: #0a7aff;
$font-color-blue: #272556;
$font-color-green: #347b26;
$font-color-black: #000000;
$font-color-purple1: #562980;

$font-size-h1: 24px;
$font-size-p: 16px;
$font-size-s: 10px;
$font-size-m: 20px;