<main>
    <section class="form-section">
        <img src="favicon.ico" width="60" height="60"/>
       <h2>{{ title }}</h2>
       <ng-content></ng-content>
       <div class="btn-wrapper">
            <button 
                class="btn-primary" 
                (click)="submit()"
                [disabled]="disablePrimaryBtn"
            >
                {{ primaryBtnText }}
            </button>
            <div class="divider">
                <div></div>
                <span>or</span>
                <div></div>
            </div>
            <button class="btn-secondary" (click)="navigate()">{{ secondaryBtnText }}</button>
       </div>
    </section>
    <section class="main-section">
        <h1>Aventure-se!</h1>
        <h2>Construa a sua própria história.</h2>
        <img src="assets/png/library.png"/>
    </section>
</main>